@page "/game"
@inject IUserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.SignalR.Client
@using StratoFour.Infrastructure.Models


<h1>Start new Game</h1>


@code {

}

