@page "/settings"
@inject NavigationManager NavManager
@rendermode InteractiveServer
<h3>Change Password</h3>

<div class="form-grid">
    <label for="currentPassword">Current Password</label>
    <input type="password" id="currentPassword" @bind="currentPassword" />

    <label for="newPassword">New Password</label>
    <input type="password" id="newPassword" @bind="newPassword" />

    <label for="confirmPassword">Confirm New Password</label>
    <input type="password" id="confirmPassword" @bind="confirmPassword" />

    <div class="button-container">
        <button @onclick="Save">Save</button>
        <button @onclick="Cancel">Cancel</button>
    </div>
</div>

@code {
    private string currentPassword;
    private string newPassword;
    private string confirmPassword;

    private async Task Save()
    {
        if (newPassword == confirmPassword)
        {
           //DB Update table

            NavManager.NavigateTo("/");
        }
        else
        {
            // Fehler anzeigen
            Console.WriteLine("Passwords do not match!");
        }
    }

    private void Cancel()
    {
        NavManager.NavigateTo("/");
    }
}
