@page "/confirmemail"
@using System.Text
@using Microsoft.AspNetCore.WebUtilities
@using StratoFour.Infrastructure.Data

@* @inject IdentityRedirectManager RedirectManager *@
@inject IUserData UserData

<PageTitle>Confirm email</PageTitle>

<h1>Confirm email</h1>
@* <StatusMessage Message="@statusMessage" /> *@

@code {
    // private string? statusMessage;

    // [CascadingParameter]
    // private HttpContext HttpContext { get; set; } = default!;

    // [SupplyParameterFromQuery]
    // private string? UserId { get; set; }

    // [SupplyParameterFromQuery]
    // private string? Code { get; set; }

    // private async Task ConfirmEmail()
    // {
    //     if (UserId is null)
    //     {
    //         RedirectManager.RedirectTo("");
    //     }

    //     var user = await UserData.GetUser(UserId)
    //     if (user is null)
    //     {
    //         HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
    //         statusMessage = $"Error loading user with ID {UserId}";
    //     }
    //     else
    //     {
    //         var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
    //         var result = await UserData.ConfirmEmailAsync(user, code);
    //         statusMessage = result.Succeeded ? "Thank you for confirming your email." : "Error confirming your email.";
    //     }
    // }

    // private async ConfirmEmailAsync()
    // {

    // }
}
