@page "/logout"
@using Microsoft.AspNetCore.Authentication

<span class"text-danger fw-bolder">You've successfully logged out of the application'</span>

@code {
    [CascadingParameter]
    public HttpContext HttpContext{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if(HttpContext.User.Identity.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();
            NavManager.NavigateTo("/logout", true);
        }

    }
}
